* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
   
  }
  
  .head {
    margin-top: 10px;
    text-align: center;
  }

  .head h1 {
    color: #58585a;
  }
  .todo-container {
    width: 100%;
    height: 80vh;
    display: flex;
    
  }
  
  .status {
    width: 25%;
    background-color: #f3f3f3;
    position: relative;
    padding: 60px 1rem 0.5rem;
  }
  
  .status:nth-child(even) {
    background-color: #d4d0d06b;
  }
  
  .status h2 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #e85e73;
    color: #f3f3f3;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  .add_btn_wrapper{
    text-align: right;
  }
  
  #add_btn {
    padding: 0.5rem 1rem;
    background-color: #ccc;
    outline: none;
    border: none;
    width: 50%;
    font-size: 14px;
    margin: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #add_btn:hover {
    background-color: #aaa;
  }
  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 20px;
    margin: 0.5rem 0;
  }
  
  .todo .close {
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    font-size: 1rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .todo .close:hover {
    color: #343444;
  }
  
  /* modal */

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 500px;
  height: 200px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: #fff;
}

.modal.active {
  top: 25%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.modal .body {
  padding: 0.75rem;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;
}

#task_input{
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}
#task_submit {
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.25rem;
  cursor: pointer;
}

#task_submit {
  background-color: #59af8e;
  color: #f3f3f3;
  font-size: 1.25rem;
  border: none;
}
  